header {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

header p {
    color: red;
    font-size: larger;
    font-weight: bolder;
    width: fit-content;
    margin-top: 0;
}

header a {
    color: blue;
    font-size: larger;
    font-weight: bolder;
    width: fit-content;
}

header a:hover {
    color: purple;
}

main {
    text-align: center;
}

main h1 {
    margin: 10% 20% 5% 22%;
}

main p {
    margin: 5% 25%;
}

button {
    color: white;
    background-color: purple;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    margin: 2px 50px;
}

ul {
    display: flex;
    flex-direction: column;
    padding-inline-start: 3%;
}

ul button {
    text-align: left;
    width: 180px;
    margin-left: 20%;
}


h3 {
    text-align: left;
    border-top-style: solid;
    border-top-width: 2px;
    color: lightslategray;
    border-top-color: lightslategray;
    width: 56%;
    margin-left: 22%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3px 0 0 3px;
    font-size: x-large;
    visibility: hidden;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBoard {
    margin: 0 0 3% 0;
}

ol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
}

ol li {
    width: 70%;
    background-color: rgb(210, 128, 210);
    list-style-position: inside;
    margin: 5px;
    padding: 8px;
    font-size: large;
    color: darkblue;
    font-weight: bolder;
    border-radius: 15px;
    text-align: left;
    width: 40%;
    margin-left: 30%;
    min-width: fit-content;
}

form p,
form button {
    margin: 0 10px;
}

form button {
    padding: 3px 15px;
}

@media screen and (max-width: 425px) {
    #startPara {
        margin: 10% 5%;
    }
    ol li {
        margin: 5px 10%;
    }
}