header {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

header p {
    color: red;
    font-size: larger;
    font-weight: bolder;
    width: fit-content;
    margin-top: 0;
}

header a {
    color: blue;
    font-size: larger;
    font-weight: bolder;
    width: fit-content;
}

header a:hover {
    color: purple;
}

main {
    text-align: center;
}

main p {
    margin: 10% 20%;
}

button {
    color: white;
    background-color: purple;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    margin: 2px 50px;
}

ul {
    display: flex;
    flex-direction: column;
}

ul button {
    text-align: left;
    width: 180px;
}


h3 {
    text-align: left;
    border-top-style: solid;
    border-top-width: 2px;
    color: lightslategray;
    border-top-color: lightslategray;
    visibility: hidden;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
}

ol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ol li {
    width: 70%;
    background-color: rgb(189, 67, 189);
}

form p,
form button {
    margin: 0 10px;
}

form button {
    padding: 3px 15px;
}